<html>
    <head>
        <link rel="stylesheet" href = "/app/css/index.css" >
    </head>

    <body>
        <h1> Merriam Webster</h1>
        <div class="container">
            <button id="capture-btn">Capture</button>
            <button id="clear-btn">Clear</button>
            <button id="viewData-btn">View Data</button>
        </div>
        <input id="name-input" type="text" placeholder="variable name">
        <body id="body-el">
            <p id="results-el"> Stuff will appear here after pressing capture.</p>
        </body>
    </body>
    <script>
        console.log("This is a script tag!!!");let x=5,z=20,c=40;x+=2,x>3&&(x=0),x=doStuff(x),x+=5;
    </script>
    <script type="module" src="/app/index.js"> </script>
    <script src="/app/test.js"></script>
</html>
