<html>
    <head>
        <link rel="stylesheet" href="/app/css/index.css">
        <style>
            #report {
                white-space: pre-wrap;
                font-family: ui-monospace, Consolas, monospace;
                font-size: 13px;
                line-height: 1.45;
                margin: 16px;
            }
        </style>
    </head>
    <body>
        <h1>REPORT</h1>
        <pre id="report">This will be populated once a capture has been made.</pre>
        <script src="/app/report.js"></script>
    </body>
</html>
